a:link {
  text-decoration:  none;
} 
b {
    color: black;
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.responsive-text {
    border: none;
    display: inline-block;
    max-width: 100%;
    padding: 0.01%;
}
.black-bar {
    background-color: black; 
    width: 100%;
}
.overrride-bottom-padding {
    padding-bottom: 0px !important;
}
.tiny-text {
    font-size: 10px;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
